@model IEnumerable<Assignment6.Models.PersonModel>
<h2>List of person</h2>
<table class="table table-bordered">
    <thead>
    <tr>
       
        <th>Firstname</th>
        <th>Lastname</th>
        <th>Gender</th>
        <th>DateOfBirth</th>
        <th>BirthPlace</th>
        <th>PhoneNumber</th>
        <th>Graduated</th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    @foreach (var person in @Model)
    {
        <tr id="row_@person.Id">
            
            <td>@person.FirstName</td>
            <td>@person.LastName</td>
            <td>@Enum.GetName(typeof(Gender), person.Gender)</td>
            <td>@person.DateOfBirth.ToString("dd/MM/yyyy")</td>
            <td>@person.BirthPlace</td>
            <td>@person.PhoneNumber</td>
            <td>@string.Format("{0}", person.IsGraduated ? "Yes" : "No")</td>
            <td>
                <a class="btn btn-primary" asp-controller="Student" asp-action="EditPerson" asp-route-personId="@person.Id">Edit</a>
                @* <button type="button" class="btn btn-danger" onclick="handleDeletePerson(@person.Id)">Delete</button> *@
                <a class="btn btn-danger" onclick="ConfirmDelete(@person.Id)" asp-controller="Student" asp-action="DeletePerson" asp-route-personId="@person.Id" >Delete</a>
            </td>
            
        </tr>
    }
    </tbody>
</table>
<a class="btn btn-primary" href="./Student/Add">Add new student</a>
<script>
    @* function handleDeletePerson(personId) {
        //js confirm = Yes => ajax.Post request to Home/DeletePerson
        var confirmMessageBox = confirm('Are you sure you wish to delete this record ?');
        if (confirmMessageBox) {
            if (personId) {
                $.ajax({
                    url: './Student/DeletePerson',
                    data: { 'personId': personId },
                    type: 'get',
                    success: function (data) {
                        if (data) {
                            
                            return url;
                            
                        }
                    }, error: function (err) {
                        alert(err.statusText);
                    }
                });
            }
            
    } *@
    function ConfirmDelete(personId){
        var result = confirm('Are you sure you want to delete this person?');
      return result;
    }
</script>
